services:
  - type: web
    name: tofimotia-backend
    runtime: docker
    dockerfilePath: ./Dockerfile
    plan: free
    region: oregon
    buildCommand: ""
    startCommand: ""
    envVars:
      - key: SPRING_PROFILES_ACTIVE
        value: prod
      - key: DATABASE_URL
        sync: false
      - key: DB_USERNAME
        sync: false
      - key: DB_PASSWORD
        sync: false
      - key: JWT_SECRET
        generateValue: true
      - key: PORT
        value: "8080"
    healthCheckPath: /actuator/health
    
databases:
  - name: tofimotia-db
    databaseName: tofimotia
    user: tofimotia_user
    plan: free
    region: oregon
